.about-underline {
    width: 0;
    height: 2px;
    margin: 0.75rem 0;
    background-color: #FFFAFA;
    transition: all 0.3s linear;
}

.about:hover .about-underline {
    width: 100%;
}

.about-title {
    display: flex;
    justify-content: space-between;
}

.about-title h2 {
    font-size: 48px;
    font-weight: 900;
}

.about-title p {
    align-self: flex-end;
}

.about-title p i {
    margin: 0 0.75rem;
}

.about-introduce h3 {
    font-size: 24px;
    font-weight: 900;
}

.about-education h3 {
    font-size: 24px;
    font-weight: 900;
}

.about-education p {
    margin: 2rem 0;
}

.about-education p span {
    float: right;
}

.about-education p span i {
    margin: 0 0.75rem;
}

.about-expertise h3 {
    font-size: 24px;
    font-weight: 900;
}

.about-expertiseDetail {
    display: flex;
    flex-wrap: wrap;
}

.about-expertiseDetail span {
    font-size: 15px;
    width: fit-content;
    display: block;
    margin: 0.75rem 1.5rem 0 0;
}

.about-expertiseDetail span i {
    margin: 0 0.75rem 0 0;
}

.about-project h3 {
    font-size: 24px;
    font-weight: 900;
}

.about-projectBlock {
    /* border: 1px #FFFAFA solid;
    border-radius: 15px; */
    margin: 2.5rem 0;
    padding: 1rem 0.5rem;
}

.about-projectPic {
    width: 75%;
    margin: auto;
    overflow: hidden;
    transition: all 0.3s linear;
}

.about-projectPic img {
    width: 100%;
    transform: scale(0.9);
    transition: all .3s linear;
}

.about-projectBlock:hover .about-projectPic img {
    overflow: hidden;
    transform: scale(1);
}

.about-projectText {
    width: 75%;
    margin: 2.5rem auto;
    transition: all 0.3s linear;
}

.about-projectTitle {
    font-size: 20px;
}

.about-projectTag {
    font-size: 14px;
    color: #C0C0C0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0.5rem 1rem 0;
    gap: 1%;
    transition: all 0.3s linear;
}

.about-projectBlock:hover .about-projectTag {
    color: #C0C0C0;
}

.about-projectTag span {
    margin: 0 0 0 auto;
}

.about-projectTag p {
    margin: 0 0.5rem 0 0;
}

.about-projectTag p i {
    margin: 0 0.5rem 0 0;
}

/* .about-projectTag span i {
    margin: 0.75rem;
} */

.about-projectContent {
    margin: 1.25rem 0;
}

.about-projectContent p {
    margin: 0.75rem 0;
}

.about-projectContent a:hover {
    color: #C0C0C0;
}

.about-projectLink {
    display: flex;
    text-align: right;
    margin: 1.5rem 0 0 0;
}

.about-projectLink p {
    transform: translate(-0.5rem, -0.09rem);
    transition: all 0.3s linear;
}

.about-projectBlock:hover .about-projectLink p {
    color: #C0C0C0 !important;
    transform: translate(0.5rem, -0.09rem);
}


.about-projectLink:hover {
    color: #C0C0C0 !important;
}

.about-projectLink a {
    margin: 0 1rem 0 0;
    transition: all 0.3s linear;
}

.about-projectLink a:hover {
    color: #C0C0C0 !important;
}




/* .about-projectLink span {
    display: block;
    transform: translateX(0);
    transition: all 0.3s linear;
}

.about-projectLink:hover .about-projectLink span {
    transform: translateX(1rem);
    color: #D3D3D3;
} */

.about-experience h3 {
    font-size: 24px;
    font-weight: 900;
}

.about-job {
    margin: 2rem 0;
}

.about-jobTitle {
    margin: 1.75rem 0;
}

.about-jobTitle h4 {
    font-size: 20px;
    font-weight: 700;
}

.about-jobTitle h5 {
    font-size: 16px;
    font-weight: 700;
}

.about-jobDescribe {
    font-size: 15px;
    font-weight: 700;
}

.about-jobTime {
    font-size: 14px;
    font-weight: 700;
}

.about-jobContent {
    line-height: 2;
    margin: 1.75rem 0;
}

.about-jobProject {
    margin: 1.25rem 0;
}

.about-jobProject p {
    margin: 0.05rem 0;
}

.about-jobLink {
    display: flex;
    transition: all 0.3s linear;
}

.about-jobLink:hover {
    color: #C0C0C0 !important;
}

.about-jobLink a:hover {
    color: #C0C0C0 !important;
}

.about-jobLink p {
    position: relative;
    transform: translateY(-3.2px);
    animation: about-job-arrow 1s infinite;
}

@keyframes about-job-arrow {
    0% {
        left: 1.5%;
    }

    50% {
        left: 3%;
    }

    100% {
        left: 1.5%;
    }
}

.about-projectBlock:hover .article-underline {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .about-title {
        display: block;
    }

    .about-title h2 {
        font-size: 24px;
        text-align: center;
    }

    .about-title p {
        text-align: end;
    }

    .about-introduce h3 {
        font-size: 20px;
        text-align: center;
    }

    .about-education h3 {
        font-size: 20px;
        text-align: center;
    }

    .about-expertise h3 {
        font-size: 20px;
        text-align: center;
    }

    .about-project h3 {
        font-size: 20px;
        text-align: center;
    }

    .about-projectPic {
        font-size: 72px;
    }

    .about-projectBlock:hover .about-projectPic {
        font-size: 96px;
    }

    .about-projectTitle {
        font-size: 18px;
    }
}

@media screen and (max-width: 575px) {
    .about-projectPic {
        width: 100%;
    }

    .about-projectText {
        width: 100%;
    }
}

@media screen and (max-width: 499px) {
    .about-underline {
        width: 100%;
    }
}


@media screen and (min-width: 500px) {
    .about-projectContent a {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.3s linear;
    }
}

.about-jobTime span {
    margin-left: 1rem;
}