.article {
    display: flex;
    justify-content: space-between;
}

.article-icon {
    font-size: 48px;
    width: 17.5%;
    text-align: center;
    align-self: center;
    transition: all 0.5s linear;
}

.article:hover .article-icon {
    font-size: 72px;
}

.article-text {
    width: 80%;
    margin: 1rem 0;
    transition: all 0.5s linear;
}

.article:hover .article-text {
    color: #222223;
}

.article-title {
    font-size: 18px;
}

.article-tag {
    font-size: 14px;
    color: #C0C0C0;
    display: flex;
    align-items: center;
    margin: 0.25rem 0 0.5rem;
    gap: 1%;
    transition: all 0.5s linear;
}

.article:hover .article-tag {
    color: #222223;
}

.article-tag i {
    margin: 0 0 0 0.75rem;
}

.article-tag i:nth-child(1) {
    margin: 0 0.25rem 0 0;
}

.article-underline {
    width: 0;
    height: 2px;
    margin: 0.5rem 0;
    background-color: #222223;
    transition: all 0.5s linear;
}

.article:hover .article-underline {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .article-icon {
        font-size: 72px;
    }

    .article-title {
        font-size: 18px;
    }
}

@media screen and (max-width: 575px) {
    .article {
        display: block;
    }
    .article-icon {
        width: 100%;
    }

    .article:hover .article-icon {
        font-size: 72px;
    }

    .article-text {
        width: 100%;
    }

    .article-title {
        text-align: center;
    }

    .article-tag {
        justify-content: center;
    }
}

.select-button {
    width: 130px;
    font-weight: 900;
    color: #FFFAFA !important;
    background-color: #222223;
    border-radius: 10px;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    transition: all 0.5s linear;
}

.select-button:hover {
    color: #222223 !important;
    background-color: #C0C0C0;
}

.article-top {
    display: flex;
    justify-content: center;
}

.article-top .article-icon {
    font-size: 48px;
    width: fit-content;
    margin: 0 1rem;
}


.article-top .article-text {
    width: fit-content;
    align-self: center;
    margin: 0 1rem;
}

.article-top .article-title {
    font-size: 36px;
}

@media screen and (min-width: 500px) {
    .article-content {
        font-size: 15px;
        min-height: 24px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 499px) {
    .article-icon {
        font-size: 32px;
    }

    .article-title {
        font-size: 15px;
    }

    .article-tag {
        font-size: 12px;
    }

    .article-underline {
        width: 100%;
    }

    .article-content {
        font-size: 14px;
        max-height: 24px;
        overflow: hidden;
    }
}

@media screen and (max-width: 399px) {

}

@media screen and (max-width: 350px) {
    .article-tag {
        font-size: 12px;
    }
}

@media screen and (max-width: 340px) {
    .article-tag {
        display: block;
        text-align: center;
    }
}