/* ========================================   文章內容   ======================================== */
/* .article-heading {
    display: flex;
    justify-content: space-between;
} */

.article-heading h2 {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

.article-heading p {
    text-align: end;
}

.article-heading p i {
    margin: 0 0.75rem 0 0;
}


.article-detailLine {
    width: 0;
    height: 2px;
    background-color: #222223;
    margin: 0.5rem 0 1.5rem;
    transition: all 0.5s linear;
}

.article:hover .article-detailLine {
    width: 100%;
}

.article-detail:hover .article-detailLine {
    width: 100%;
}

.article-detail h3 {
    font-size: 24px;
}

.article-detail h4 {
    font-size: 22px;
    margin: 0.75rem 0;
}

.article-detail h5 {
    font-size: 20px;
    margin: 0.75rem 0;
}

.article-detail p {
    display: flex;
    margin: 1.5rem 0;
}

.article-detail p i {
    color: aqua;
    display: block;
    margin: 0.15rem 0.75rem 0 0;
}

.article-pic {
    margin: 1.5rem 0;
}

.article-pic img {
    width: 100%;
}

.article-txt {
    margin: 1.5rem 0;
    transition: all 0.5s linear;
}

.article-txt h4 i {
    color: aqua;
    margin: 0 0.75rem 0 0;
}

.article-txt h5 i {
    color: aqua;
    margin: 0 0.75rem 0 0;
}

.article-txt a {
    margin: 1.5rem 0;
}

.article-txt a:hover {
    color: #C0C0C0;
}

.article-txt a span {
    display: inline-block;
    margin-left: 0.75rem;
    transform: translateY(-0.1rem);
    position: relative;
    animation-name: moving; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes moving {
    0% {
        left: 0;
    }
    50% {
        left: 1.5rem;
    }
    100% {
        left: 0;
    }
}

.article-list {
    line-height: 2;
    margin: 1.5rem 0;
}

.article-list li {
    margin: 0.5rem 0;
}

.article-table {
    margin: 1.5rem 0;
    overflow-x: auto;
}

.article-coding {
    font-family: "Source Code Pro";
    font-weight: 700;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 15px;
    margin: 1.5rem 0;
    padding: 1rem;
}

.article-codeNote {
    color: #222223;
    background-color: #C0C0C0;
    border-radius: 15px;
    /* margin: 1.5rem 0; */
    padding: 1rem;
}

.article-coding pre code {
    line-height: 0.5;
}

.article-detail .article-coding pre code p {
    line-height: 1;
}

.article-table table {
    width: 100%;
}

.article-table table th, .article-table table td {
    border: 2px #26273B solid;
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
}

.article-detail .article-reference {
    width: fit-content;
    color: #C0C0C0;
    display: block;
    margin: 0.5rem 0;
    transition: all 0.5s linear;
}

.article-detail .article-reference:hover {
    color: #222223;
}

.article-detail .article-reference i {
    margin: 0 0.75rem 0 0;
}

.article-list ul ul {
    margin: 0 0 0 2rem;
}

/* 768px */
@media screen and (max-width: 1200px) {
    .article-heading {
        display: block;
    }

    .article-heading h2 {
        font-size: 24px;
        text-align: center;
    }

    .article-detail h3 {
        font-size: 20px;
    }

    .article-detail h4 {
        font-size: 18px;
    }

    .article-detail h5 {
        font-size: 17px;
    }
}

@media screen and (max-width: 499px) {
    .article-detailLine {
        width: 100%;
    }

    .article-table table th, .article-table table td {
        width: calc(100%/3);
        border: 2px #26273B solid;
        text-align: center;
        vertical-align: middle;
        padding: 0.1rem;
    }
}


.article-detail .article-picTxt p {
    font-size: 15px;
    justify-content: center;
    text-align: center;
    margin: -0.75rem 0 2.5rem;
}

.article-detail .article-picTxt h4 {
    font-size: 18px;
    justify-content: center;
    text-align: center;
    margin: -0.75rem 0 2rem;
}


.article-map {
    margin: 2.5rem 0;
    position: relative;
}

.article-map-ratio::before {
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 寬高比 */
}

.article-map .article-map-ratio iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 499px) {
    .article-detail .article-picTxt p {
        font-size: 14px;
    }
    .article-detail .article-picTxt h4 {
        font-size: 16px;
    }
}