.question-block {
    max-height: 97.5px;
    overflow: hidden;
}

.question-title {
    margin: 0.5rem 0;
    padding: 0 0.5rem;
}

.question-title h2 {
    font-size: 24px;
    font-weight: 900;
}

.question-detailLine {
    width: 0;
    height: 2px;
    background-color: #FFFAFA;
    margin: 0.5rem 0 1.5rem;
    transition: all 0.3s linear;
}

.question-block:hover .question-detailLine {
    width: 100%;
}

.question-content {
    margin: -1.25rem 0 0;
}

.question-intro {
    width: 100%;
    line-height: 2;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    padding: 0 0.5rem;
    transition: all 0.3s linear;
}

.question-txt {
    width: 100%;
    line-height: 2;
    margin: 1.5rem 0;
    padding: 0 0.5rem;
    transition: all 0.3s linear;
}

.question-txt h3 {
    margin: 0 1rem 0 0;
}

.question-txt i {
    color: aqua;
    margin: 0 0.75rem 0 0;
}

.question-list {
    line-height: 2;
    /* margin: 1.5rem 0; */
}

.question-list h4 {
    font-size: 20px;
    margin: 0.5rem 0;
}

.question-list li {
    font-size: 16px;
    margin: 0.5rem 0;
}

.question-coding {
    font-family: "Source Code Pro";
    font-weight: 700;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 15px;
    margin: 1.5rem 0;
    padding: 1rem;
}

.modifyHeight {
    max-height: fit-content;
}

.question-examination {
    font-size: 16px;
    line-height: 2.5;
    margin: 0 0 3rem 0;
    /* margin: 1.5rem 0;
    padding: 0 0.5rem; */
    transition: all 0.3s linear;
}

.question-examination h4 {
    font-size: 20px;
}

.question-examination-ask {
    font-size: 20px;
    color: blanchedalmond;
    margin: 0 0 1rem 0;
    transition: all 0.3s linear;
}

.question-examination-ans {
    font-size: 16px;
    margin: 0 0 1rem 0;
    transition: all 0.3s linear;
}

.question-examination-ans p {
    margin: 1.5rem 0;
}

.question-table {
    color: blanchedalmond;
    margin: 1.5rem 0;
    overflow-x: auto;
}

.question-table table {
    width: 100%;
}

.question-table table th,
.question-table table td {
    border: 2px blanchedalmond solid;
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
}

@media screen and (max-width: 499px) {
    .question-table table th,
    .question-table table td {
        width: calc(100% / 3);
        border: 2px blanchedalmond solid;
        text-align: center;
        vertical-align: middle;
        padding: 0.1rem;
    }
}